* {
    cursor: url("artwork_data/cursor_ghostbusters_resize2.png"), pointer; 
}

html {    
    margin-left: auto;
    margin-right: auto;
    scroll-behavior: smooth;
    background: linear-gradient(-90deg, rgb(255, 0, 179) -400%, rgb(8, 27, 113) 100%);
}

body {
    margin: 0 auto;    
}

/* mini logo nav barre */
header.header img {
    display: flex;
    width: 45px;
    margin-right: 10px;
    margin-left: 10px;        
}

/* barre de navigation */
header {
    display: flex;
    width: 100%;
    margin-top: 3px;    
}

/* onglets menu nav */
header button {
    width: 100%;
    border: none;
    outline: none;    
}

/* onglet mentionbs spéciales */
.dropdown-special {
    position: relative;
    display: flex;
    margin-top: 2px;
    width: auto;
    left: 510px;
}

/* ------------------ menu déroulant ------------------- */

/* dropdown-1 */
header .dropdown-1 {
    position: relative;
    display: flex;
    margin-right: 10px;
    margin-top: 2px;
}

header .dropdown-1 .contenu {
    display: none;
    position: relative;
    margin-top: 1px;
}

header .dropdown-1:hover .contenu {
    display: block;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 35px;    
    width: 100%;
}

header .dropdown-1:hover .contenu a{
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 18px;
    padding: 8px 12px;
    font: bold 14px Verdana;
    transition: all 0.6s;
    color: #4265aa;    
    margin-top: 1px;      
}

header .dropdown-1 .contenu a:hover {
    color: whitesmoke;
    background-color: #90a5ce;
    opacity: 0.8;
}

header .dropdown-1 a button {
    width: 100%;
}

/* dropdown-2 */
header .dropdown-2 {
    position: relative;    
    display: flex;
    margin-right: 10px;
    margin-top: 2px;
}

header .dropdown-2 .contenu {
    display: none;
    position: relative;
    margin-top: 1px;
}

header .dropdown-2:hover .contenu {
    display: block;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 35px;
    width: auto;
}

header .dropdown-2:hover .contenu a{
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 18px;
    padding: 8px 12px;
    font: bold 14px Verdana;
    transition: all 0.6s;
    color: #4265aa;    
    margin-top: 1px;;    
}

header .dropdown-2 .contenu a:hover {
    color: whitesmoke;
    background-color: #90a5ce;
    opacity: 0.8;
}

header .dropdown-2 a button {
    width: 100%;
}

/* dropdown-3 */
header .dropdown-3 {
    position: relative;
    display: flex;
    margin-right: 10px;    
    margin-top: 2px;
}

header .dropdown-3 .contenu {
    display: none;
    position: relative;
    margin-top: 1px;
}

header .dropdown-3:hover .contenu {
    display: block;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 35px;    
    width: 100%;
}

header .dropdown-3:hover .contenu a{
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 18px;
    padding: 8px 12px;
    font: bold 14px Verdana;
    transition: all 0.6s;
    color: #4265aa;    
    margin-top: 1px;    
}

header .dropdown-3 .contenu a:hover {
    color: whitesmoke;
    background-color: #90a5ce;
    opacity: 0.8;
}

header .dropdown-3 a button {
    width: auto;
}

/* menu de navigation */
nav.nav {
    display: flex;
    list-style: none;    
}

/* text menu nav */
nav.nav button {
    width: 100%;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 18px;
    padding: 8px 12px;
    font: bold 14px Verdana;
    transition: all 0.6s;
    color: #4265aa;    
}

nav.nav button:hover {
    color: whitesmoke;
    background-color: #90a5ce;
    opacity: 0.8;
}

/* big title Ghostbusters French Riviera */
.big_title {
    display: flex;
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;   
}

/* smoke background big title */
section.top_page {
    background-color: #ba2126;
    background: url("artwork_data/landing_page_smoke_blu_1200x500.png");   
    height: 500px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #2952a3;
    border-radius: 7px; 
    border-width: 1px;  
}

/* scroll landing page */
.scroll_down {
    color: white;
    font-size: 1.2em; 
    justify-content: center;    
    text-decoration: none;
    display: flex;
    width: 70px;
    margin-top: 150px;
    margin-left: 0px;
    transition: ease-in-out 0.3s;
            
}

/* scroll hover color */
.scroll_down:hover {
    color: #90a5ce;    
}

/* section réseaux sociaux et youtube */
.section_logo_link {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;    
}


.logo_facebook img, .logo_youtube img, .logo_instagram img {   
    width: 80px;
    height: 80px;    
    border-style: solid;
    border-color: #fffae1;
    border-radius: 15px;
    background-color: #fffae1;
    transition: ease-in-out 0.3s;
    opacity: 0.8
}

.logo_facebook img:hover, .logo_youtube img:hover, .logo_instagram img:hover {
    color: #b0caff;
    transform: scale(1.2);
    opacity: 1;
    
}

.logo_link ul {    
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
    list-style-type: none;
}

/* section_menu_principal */
.section_menu_principal {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    /* background-color: #02328f; */
    background: transparent;
    display: flex;
    justify-content: space-evenly;    
    border: #2952a3;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;    
}

/* cartes menu principal */
.item_menu {
    width: 220px;
    height: auto;
    border-radius: 5%;
    transition: 0.3s ease-in-out;  
    opacity: 0.8;
    
}

.item_menu:hover {
    opacity: 1;   
    transform: scale(1.05);
    /* filter: blur(10em); */ /* effet rigolo de disparition */
}

/* menu principal */
.menu_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-size: large;
    color: whitesmoke;
}

/* text menu principal */
.menu_details {
    font-weight: 600;
    color: whitesmoke;
    width: 200px;
    text-align: center;
}

/* secton titre vidéo */
.section_title_video {
    /* background: orange; */
    display: flex;
    width: 1200px;
    height: 141px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;    
    font-size: 0.8em;    
}

/* clap cinéma */
.clap img {
    margin-left: 275px;
    width: 150px;
}

/* titre vidéo youtube */
#title_video {
    /* background: blue;  */
    color: whitesmoke;
    font-size: 2.5em;
    text-align: center;
    width: 500px;
}

.montage_video video {
    /* background-color: #ba2126; */
    display: flex;
    width: 470px;
    margin-left: auto;
    margin-right: auto;   
    height: 260px;    
}

/* section vidéo et salle ciné */
.section_video {
    background: url("artwork_data/cinéma_fx_final.png") center center/cover no-repeat;
    width: 1200px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 7px;
    border-color: #2952a3;
    border-width: 1px;
    margin-top: 50px;    
}

/* wavesurfer */
.container {
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: linear-gradient(rgb(0,0,0,0.3), #030f34), url("artwork_data/ecto1_affiche_afterlife_1200x265.png");
    max-width: 1200px;
    height: 265px;
    margin-left: auto;
    margin-right: auto;
    /* background-position: center; */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 7px;
    border-width: 1px;
    border-color: #2952a3;
}

/* logo gb casque music */
#gb_music {
    /* background: red; */
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-top: 20px;    
}

/* section lecteur audio */
.music {
    /* background: red; */
    width: 85%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
}

/* infos wave et controls section */
.info {
    /* background: red; */
    color: whitesmoke;
    margin-left: 30px;
    flex: 1;
    margin: 10px 10 60px;
}

/* titre du mp3 */
.info p {
    /* background: red; */
    font-size: 20px;
}

/* section controles wavesurfer */
.controls {
    
    display: flex;
    align-items: center;
}

/* all icones controls section */
.controls img {
    background: whitesmoke;
    width: 30px;
    margin-right: 20px;
}

/* section contactez-nous */
.contactez {
    /* background: red; */
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #2952a3;
    border-radius: 7px;
    background: url(artwork_data/NYC_bridge2_blur_purple\ .jpg) center center/cover no-repeat;         
    color: whitesmoke;
    padding: 20px 0 10px 0;
    text-align: center;
}

/* buzzer */
.buzzer img{
    /* background: red; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
    margin-top: 10px;    
}

/* Contactez-nous text */
.buzzer span {
    /* background: red; */
    font-size: 1.4em;
    text-shadow: black 3px 3px 5px;
}

/******* FORMULAIRE ********/

/* section formulaire */
form {
    /* background: red; */
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    color: whitesmoke;
}

/* zone de saisie */
textarea {
    height: 120px;
}

input, button, textarea {
    resize: none;
    width: 450px;
    padding: 10px 10px;
    margin: 1px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    background: transparent;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
    font-weight: 500;
    color: whitesmoke;
    transition: all .3s;
    margin-bottom: 1px;
}

input:focus, textarea:focus {
    outline-color: rgba(50, 22, 122, 0);
}

::placeholder {
    color: whitesmoke;  
}

input:hover, textarea:hover, button:hover,
input[type="email"]:focus,
input[type="text"]:focus
input[type="submit"]:focus {
    background: rgba(255, 255, 255, .1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, .2);
}

/*------------------- footer section ------------------*/
.footer {
    display: flex; 
    width: 1200px;
    margin-left: auto;
    margin-right: auto;       
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;      
}

.charte, .copyright, .drgregg {
    /* background: red; */    
    text-decoration: none;
    color: whitesmoke;
    font-size: 12px;   
}

