* {
    cursor: url("artwork_data/cursor_ghostbusters_resize2.png"), pointer;
}

html {
    background: black;
    color: antiquewhite;
}

body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}

/* .images {
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(74, 131, 206);
    border-width: 5px;
} */

.title_section {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
}

.cards {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;    
    border-radius: 15px;
    
}

.top_page .big_title {
    font-size: 48px;
    text-align: center;
}

.nos_cartes_jeux {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.images {
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    border-color: greenyellow;
}

/* la barre de navigation */
header.header {
    display: flex;    
    align-items: center;
    height: 50px;
}

/* mini logo nav barre */
header.header img {
    display: flex;
    width: 45px;
    margin-left: 5px;
    margin-right: 30px;
        
}

/* Menu de navigation */
nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 600px;
    margin-left: 10px;          
}

/* text menu nav */
nav.nav li a {
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 18px;
    padding: 8px 12px;
    font: bold 14px Verdana;
    transition: all 0.6s;
    color: #4265aa;
    
}

nav.nav li a:hover {
    color: whitesmoke;
    background-color: #90a5ce;
    opacity: 0.8;
}