
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


html {
    background: url("artwork_data/wall_web_site_GBFR.png") fixed;
    scroll-behavior: smooth;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;    
}

body {
    text-align: justify;
    font-family: Georgia, 'sans-forgetica', Times, serif;
    font-size: 14px;
    background-color: rgb(161, 181, 207);
    opacity: 0.86;
    border: 1px;
    border-style: solid;
    border-color: blanchedalmond;
    box-shadow: 5px 5px 6px black;
    cursor: url("artwork_data/cursor_ghostbusters_resize2.png"), pointer;
}

ol {
    line-height: 0.2;
}

ul {
    line-height: 0.2;
}

.sommaire-1 ol{
    line-height: 8px;
    font-variant-caps:all-small-caps
}

.sommaire-1 a {
    text-decoration: none;
    color: #18253d;
    transition: ease-in-out 0.1s;
    font-weight: 600;
    cursor: url("artwork_data/cursor_ghostbusters_resize2.png"), pointer;
}

#nom img {
    width: 40%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.sommaire-1 a:hover {
    color: antiquewhite;
}

.sommaire-1 {
    /* background: green; */
    width: 380px;
    margin-left: 170px;
    padding-bottom: 10px;
}

.sommaire-2 ol{
    line-height: 8px;
    font-variant-caps:all-small-caps
}

.sommaire-2 a {
    
    text-decoration: none;
    color: #18253d;
    transition: ease-in-out 0.1s;
    font-weight: 600;
    cursor: url("artwork_data/cursor_ghostbusters_resize2.png"), pointer;    
}

.sommaire-2 {
    /* background: greenyellow; */
    margin-right: 100px;
    width: 380px;
    padding-bottom: 10px;
}

.sommaire-2 a:hover {
    color: antiquewhite;
}

.all_sommaire {    
    /* background: red; */
    display: flex;    
    left: auto;
    right: auto;  
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
    font-weight: 600;
}  

footer .menu_principal {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

footer .menu_principal:hover {
    color: rgb(226, 43, 52);
}

.copyright {
    font-size: 12px;
}

section.top_page {
    background: rgb(74, 131, 206);
    border: 1px;
    border-style:solid;
    border-color: rgb(23, 102, 204);  
    display: flex;
    margin: auto;
    margin-top: 10px;
    height: 500px;
}

.nav {
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    list-style: none;
    width: 900px;
    margin-left: 30px;
}

.nav li {
    font-size: 24px;
    font-family: Georgia, 'sans-forgetica', Times, serif;
    color: white;
    font-size: 32px;    
}

.title_asso {
    width: 90%;  
}

.nav li {
    margin-bottom: 20px;
}

.nav img {
    width: 900px;
}

#but_asso, #role, #adhesion2, #responsabilites, #protection, #information, #tenue, #engagements, #materiel, #vol, #message_asso, #A, #B, #nom, #objet, #siege, #adhesion1, #cotisation, #assemblee, #membres_bureau, #finances, #modif_charte, #dissolution, #inactivite, #fondamentaux, #membres {
    margin: 7px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#nom div h3, #objet div h3, #siege div h3, #adhesion1 div h3, #cotisation div h3, #assemblee div h3, #membres_bureau div h3, #finances div h3, #modif_charte div h3, #dissolution div h3, #inactivite div h3, #B div h3, #role div h3, #adhesion2 div h3, #responsabilites div h3, #interdictions div h3, #protection div h3, #information div h3, #tenue div h3, #engagements div h3, #vol div h3, #materiel div h3 {
    background: #5581bfb0;
    padding: 2px;
    padding-left: 5px;
    border-style: solid;
    border-color: #18253d;
    border-radius: 5px;
    border-width: 1px;    
}

#but_asso, #fondamentaux{
    font-family:'roboto', Courier, monospace;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 10px;
}

.sommaire_title {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    margin-top: 100px;
    margin-bottom: 50px;
}

#A, #B, .sommaire_title {
    background: #5581bfb0;
    padding: 2px;
    padding-left: 5px;
    border-style: solid;
    border-color: #18253d;
    border-radius: 5px;
    border-width: 1px;
}

#top_page h1 {
    text-align: center;
    width: 150px;
    display: flex;
    margin-left: auto;
    margin-right: auto;    
    font-size: 28px;
    color: #18253d
}

#top_page h2 {
    color: #18253d;
    text-align: left;
    margin-left: 210px;
    margin-bottom: 30px;
    margin-top: 80px;
}

#message_asso {
    font-family:'roboto', Courier, monospace;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#message_asso p a img {
    background: rgb(0, 0, 0);
    border-style: solid;
    border-color: antiquewhite;
    border-width: 1px;
    opacity: 1;
    width: 500px;
    /* background: url("artwork_data/ghostbusters_title_official.png"); */
    cursor: url("artwork_data/cursor_ghostbusters_resize2.png"), pointer;
    text-decoration: none;
    color: greenyellow;
    text-shadow: rgb(13, 43, 9) 1px 1px 4px;
}

/* la barre de navigation */
header.tete {
    /* background: pink; */
    display: flex;    
    align-items: center; 
    margin-top: 5px;   
}

/* mini logo nav barre */
header.tete img {
    /* background: red; */
    display: flex;
    width: 45px;
    margin-left: 5px;
    margin-right: 30px;
    cursor: url("artwork_data/cursor_ghostbusters_resize2.png"), pointer;    
}

/* Menu de navigation */
nav.nav_top {
    /* background: red; */
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 600px;
    margin-left: 10px;          
}

/* text menu nav */
nav.nav_top li a {
    /* background: greenyellow; */
    display: flex;
    align-items: center;    
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 18px;
    padding: 8px 12px;
    font: bold 14px Verdana;
    transition: all 0.6s;
    color: #4265aa;
    cursor: url("artwork_data/cursor_ghostbusters_resize2.png"), pointer;
}

nav.nav_top li a:hover {
    color: whitesmoke;
    background-color: #90a5ce;
    opacity: 0.8;
}
