html {    
    margin-left: auto;
    margin-right: auto;
    scroll-behavior: smooth;
    background: linear-gradient(-90deg, rgb(255, 0, 179) -400%, rgb(8, 27, 113) 100%);
}

body {
    margin: 0 auto;
}

/* la barre de navigation */
header.header {
    display: flex;    
    align-items: center;
    height: 50px;
}

/* mini logo nav barre */
header.header img {
    display: flex;
    width: 45px;
    margin-left: 5px;
    margin-right: 30px;    
}

/* Menu de navigation */
nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 600px;
    margin-left: 10px;          
}

/* text menu nav */
nav.nav li a {
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 18px;
    padding: 8px 12px;
    font: bold 14px Verdana;
    transition: all 0.6s;
    color: #4265aa;
}

nav.nav li a:hover {
    color: whitesmoke;
    background-color: #90a5ce;
    opacity: 0.8;
}

/* big title Ghostbusters French Riviera */
.big_title {
    display: flex;
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;   
}

/* smoke background big title */
section.top_page {
    background: url("artwork_data/Fond GBFR site web bleu fumée.png") no-repeat ;   
    background-size:auto;
    height: 600px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #2952a3;
    border-radius: 7px; 
    border-width: 1px;  
}

/* scroll landing page */
.scroll_down {
    color: white;
    font-size: 1.2em; 
    justify-content: center;    
    text-decoration: none;
    display: flex;
    width: 70px;
    margin-top: 240px;
    margin-left: 0px;
    transition: ease-in-out 0.3s;        
}

.scroll_down:hover {
    color: #90a5ce;    
}

/* section réseaux sociaux et youtube */
.section_logo_link {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.logo_facebook img, .logo_youtube img, .logo_instagram img {   
    width: 80px;
    height: 80px;
    margin-top: 0px;    
    border-style: solid;
    border-color: #fffae1;
    border-radius: 15px;
    background-color: #fffae1;
    transition: ease-in-out 0.3s;
    opacity: 0.8  
}

.logo_facebook img:hover, .logo_youtube img:hover, .logo_instagram img:hover {
    color: #b0caff;
    transform: scale(1.2);
    opacity: 1;
}

.logo_link {    
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
    list-style-type: none;
}

/* section_menu_principal */
.section_menu_principal {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 0px;
    background-color: #02328f;
    display: flex;
    justify-content: space-evenly;    
    border: #2952a3;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;    
}

/* cartes menu principal */
.item_menu {
    width: 220px;
    height: auto;
    border-radius: 5%;
    transition: 0.3s ease-in-out;  
    opacity: 0.8;   
}

.item_menu:hover {
    opacity: 1;   
    transform: scale(1.05);
    /* filter: blur(10em); */ /* effet rigolo de disparition */
}

/* menu principal */
.menu_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-size: large;
    color: whitesmoke;
}

/* text menu principal */
.menu_details {
    font-weight: 600;
    color: whitesmoke;
    width: 200px;
    text-align: center;
}
















.footer2 {
    /* background: red; */
    width: 1000px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;      
}

.footer1 {
    /* background: red; */
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #2952a3;
    border-radius: 7px;
    background: url(artwork_data/NYC_bridge2_blur_purple\ .jpg) center center/cover no-repeat;         
    color: #fffae1;
    padding: 20px 0 10px 0;
    text-align: center;
}

.buzzer img{
    display: flex;
    width: 510px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 50px;
    width: 50px;
    margin-top: 10px;    
}

.buzzers {
    display: flex;
    justify-content: space-around;
    width: 510px;
    margin-left: auto;
    margin-right: auto;
}

footer a.charte {
    text-decoration: none;
    color: whitesmoke;
    font-size: 12px;
}

.copyright {
    font-size: 12px;
    color: whitesmoke;
}

.drgregg {
    font-size: 12px;
}

/******* FORMULAIRE ********/

form {
    margin: 0 auto;
    max-width: 900px;
    
}

input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
}

textarea {
    height: 120px;
}

button {
    font-size: 1.5em;
    background-color: #fffae1;
    transition: 0.35s ease-in-out;
}

button:hover {
    /* background-color:#ba2126; */
    color: #ffffff;
    cursor: pointer;
    background: #ba2126;    
}

/* video title youtube */
#title_video {
    /* background: rebeccapurple; */
    margin-top: -30px;    
    color: whitesmoke;        
}

section.video_youtube source {
    width: 10%;
    height: 10%;
}

/* .video_replay {
    background: #9c2929;
    text-align: center;    
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top:25px;
    padding-bottom: 25px;    
} */

.video_title {
    text-align: center;
    font-size: 0.8em;    
}

.montage_video video {
    display: flex;
    width: 400px;
    margin-left: auto;
    margin-right: auto;    
    margin-top: 0px;
    margin-bottom: 100px;
    height: 35%;
    border-style: solid;
    border-radius: 6px;
    border-width: 6px;
    position: relative;
    top: -120px;
}

/* .video_youtube {
    background: #000000;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;    
} */

.title_youtube_section {
    
    /* background-color: #3058a4; */
    width: 530px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
}

.title_youtube_section h2 {
    margin-top: 0%;
    font-size: 1.5em;
}

.section_video {
    background: url("artwork_data/salle_cinéma_bleu_lightFX.jpg") center center/cover no-repeat;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 7px;
    border-color: #2952a3;
    border-width: 1px;    
}

.footer1 h2 {
    color: whitesmoke;
    text-shadow: #000000 2px 1px 0px;
}



/* wavesurfer good version */

.container {
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: linear-gradient(rgb(0,0,0,0.5), #030f34), url("media/Ecto3_02.jpg");
    width: 1000px;
    height: 265px;
    margin-left: auto;
    margin-right: auto;
    /* background-position: center; */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 7px;
    border-width: 1px;
    border-color: #2952a3;
}

.music img {
    /* background: greenyellow; */
    width: 300px;
}

.music {
    width: 85%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
}

.info {
    color: whitesmoke;
    margin-left: 30px;
    flex: 1;
    margin: 10px 10 60px;
}

.info p {
    font-size: 20px;
}

.controls {
    display: flex;
    align-items: center;
}

.controls img {
    background: whitesmoke;
    width: 30px;
    margin-right: 20px;
    cursor: pointer;
}